{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Make Job Request - {{block.super}}{%endblock%}
{% block content %}
    <div class="alert alert-info" role="alert">
        Fill The Form Below And You'll Be Notified When A Job That 
        Matches What You Want Is Entered Into The Database 
        {% comment %} 
            A simple success alert with 
            <a href="#" class="alert-link">an example link</a>. 
            Give it a click if you like. 
        {% endcomment %}
    </div>
    <div class="content-section">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">
                   Create New Request
                </legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info btn-md btn-block" type="submit">Make Request</button>
            </div>
        </form>
    </div>

    <div class="card mb-3">
        <div class="card-body">
            Fill The Form Above And You'll Be Notified When A Job That 
            Matches What You Want Is Entered Into The Database
        </div>
    </div>
{%endblock content%}