{%extends 'blog/base.html'%}
{% block content %}
	{% for follower in follower_list %}
    <article class="media content-section">
          <!--<img src="{{ post.author.profile.image.url }}" class="rounded-circle article-img">-->
    <div class="media-body">
    <img src="{{ follower.image.url }}" class="rounded-circle article-img">
    <a class="mr-2" style="text-decoration: none;" href="{% url 'user-posts' follower.user.username %}">{{ follower.user.username }}</a>
    {% if request.user.is_authenticated %}
    <a style="float: right; text-decoration: none;" href="#" class="ml-2 mt-2">Follow</a>
    {%else%}
    <a style="float: right; text-decoration: none;" href="#" class="ml-2 mt-2">log in to follow {{username}}</a>
    {%endif%}
          </div>
        </article>
        {% empty %}
          <div class="media content-section">
            <h4>{{username}} is following no one</h4>
          </div>
    {% endfor %}
{% endblock content%}