{{total_likes}} Like{{ total_likes|pluralize}}
            {% if request.user.is_authenticated %}
            <form method="POST" action="{% url 'like_post' %}">
            {%csrf_token%}
        
            {% if request.user in object.likes.all %}
                <a name="post_id" style="text-decoration: none;  color: #5f788a;" value="{{object.id}}" id="like"><i class="fas fa-heart fa-lg mt-2"></i></a>
            {% else %}
                <a name="post_id" value="{{object.id}}" style="text-decoration: none; color: #5f788a;"  id="like"><i class="far fa-heart fa-lg mt-2"></i></a>
            {% endif %} 
            {% comment %} {% if is_liked %}
                <a name="post_id" style="text-decoration: none;  color: #5f788a;" value="{{object.id}}" id="like"><i class="fas fa-heart fa-lg mt-2"></i></a>
            {% else %}
                <a name="post_id" value="{{object.id}}" style="text-decoration: none; color: #5f788a;"  id="like"><i class="far fa-heart fa-lg mt-2"></i></a>
            {% endif %} {% endcomment %}

              {% if is_saved %}
                <a href="{% url 'save_post' pk=object.id %}" style="text-decoration: none; color: #5f788a;"><i class="fas fa-bookmark fa-lg ml-3 mt-2" id="save"></i>
                </a>
              {% else %}
                <a href="{% url 'save_post' pk=object.id %}" data-toggle="tooltip" title="Save Post" style="text-decoration: none; color: #5f788a;"><i class="far fa-bookmark fa-lg ml-3 mt-2" id="save" ></i>
                </a>
              {% endif %}

              <a href="{% url 'share_post' pk=object.id %}" style="text-decoration: none; color: #5f788a;" data-toggle="tooltip" title="Share Post">
              <i class="fas fa-exchange-alt ml-3 fa-lg"></i>
              </a>
          </form>
              
          {%endif%}