{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">
                   Create New Post
                </legend>
                {{ form|crispy }}
                {{ vidform|crispy }}
                {{ formset|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Post</button>
            </div>
        </form>
    </div>
    <script type="text/javascript">
  var uploadField = document.getElementById("id_video");
  
uploadField.onchange = function() {
    if(this.files[0].size > 52428800 ){
       alert("File is too big!");
       this.value = "";
    };
};
</script>
{% endblock content %}
