{% extends 'blog/base.html'%}
{% load blog_tags %}
{% block title %}Trending - {{block.super}}{%endblock%}
{% load crispy_forms_tags %}
{% block content %}
	{% for post in posts %}
        <article class="media content-section"> 
          <div class="media-body">
            <div class="article-metadata">
              <img src="{{ post.user.profile.image.url }}" class="rounded-circle article-img mb-1">
              <a class="mr-2" href="{% url 'user-posts' post.user.username %}">{{ post.user }}</a>
              <small class="text-muted">{{ post.date_posted|timesince|upto:','  }} ago</small>
            </div>
            <h5><a class="article-title" href="{% url 'post-detail' post.pk %}">{{ post.title }}</a>
                {% if post.images_set.count >= 1 %}
              <span class="badge badge-secondary ml-2" data-toggle="modal" data-target="#exampleModalCenter{{ post.title }}"><small>IMG</small></span> 
              {% include 'blog/modal.html'%}
                  {% endif %}
                  {% if post.video  %}
              <span class="badge badge-secondary ml-2"><small>VID</small></span>
                  {% endif %}</h5>
              <p class="article-content">{{ post.content|truncatewords:"19"|hashtag_links|mention_link}}</p>
          </div>
        </article>
        {% empty %}
          <div class="media content-section">
            <h4>No Saved Posts Found</h4>
          </div>
    {% endfor %}
    {% if is_paginated %}
      {% if page_obj.has_previous %}
        <a href="?page=1" class="btn btn-outline-info mb-4">First</a>
        <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-info mb-4">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a href="?page={{ num }}" class="btn btn-info mb-4">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a href="?page={{ num }}" class="btn btn-outline-info mb-4">{{ num }}</a>
        {% endif %}
      {% endfor %}
      {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-info mb-4">Next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-outline-info mb-4">Last</a>
      {% endif %}
    {% endif %}
{%endblock%}