{% extends 'blog/base.html' %}
{% load blog_tags %}
{% block content %}
{% comment %} <ul class="notifications">
  {% for notice in notifications %}
    {% include 'notifications/notice.html' %}
  {% endfor %}
</ul> {% endcomment %}
{{notify.count}}
{% for notice in notify %}
{% with notice|notification_class_name as class %}
{% if class == 'post' %}
<article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <img src="{{notice.actor.profile.image.url}}" class="rounded-circle article-img mb-1">
              <a class="mr-2" href="{% url 'user-posts' notice.actor.username %}">{{ notice.actor }}{% if notice.actor.profile.verified%} <i class="far fa-check-circle fa-sm"></i>{%endif%}</a> {{notice.verb }}
            </div>
            {% if notice.action_object != None %}
              <h5><a class="article-title" href="{% url 'post-detail' notice.action_object.id %}">{{ notice.action_object.title }}</a>
              </h5>
            {% endif %}
          
            {% if notice.description != None %}
              <p class="article-content" style="white-space: normal;">
              {{notice.description|hashtag_links|mention_link}}
              </p>
            {% endif %}

           <p>
            {% if notice.verb == 'mentioned you in a post' %}
            <small class="text-muted" style="float: left;"><a href="{% url 'share_post' pk=notice.action_object.id %}" class="text-muted"><i class="fas fa-exchange-alt fa-lg"></i></a></small>
            {% endif %}
            <small class="text-muted" style="float: right;">{{ notice.timesince|upto:','  }} ago</small>
          </p>
          
          </div>
         
        </article>
{% elif class == 'share'%}
<article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <img src="{{notice.actor.profile.image.url}}" class="rounded-circle article-img mb-1">
              <a class="mr-2" href="{% url 'user-posts' notice.actor.username %}">{{ notice.actor }}{% if notice.actor.profile.verified%} <i class="far fa-check-circle fa-sm"></i>{%endif%}</a> 
              {{notice.verb}}
            </div>
            {% if notice.action_object != None %}
              <h5><a class="article-title" href="{% url 'post-detail' notice.action_object.post.id %}">{{ notice.action_object.post.title }}</a>
              </h5>
            {% endif %}
          
            {% if notice.description != None %}
              <p class="article-content" style="white-space: normal;">
              {{notice.description|hashtag_links|mention_link}}
              </p>
            {% endif %}

           <p>
            {% if notice.verb == "mentioned you in a post thread" %}
            <small class="text-muted" style="float: left;"><a href="{% url 'quote-share' notice.action_object.id %}" class="text-muted"><i class="fas fa-exchange-alt fa-lg"></i></a></small>
            {% endif %}
            <small class="text-muted" style="float: right;">{{ notice.timesince|upto:','  }} ago</small>
          </p>
          
          </div>
         
        </article>
{% elif class == 'profile'%}
<article class="media content-section">
<div class="media-body">
<div class="article-metadata" style="padding-bottom: 0px; margin-bottom: 0px;">
<img src="{{notice.actor.profile.image.url}}" class="rounded-circle article-img mb-1">
<a class="mr-1" href="{% url 'user-posts' notice.actor.username %}">{{ notice.actor }} {% if notice.actor.profile.verified%} <i class="far fa-check-circle fa-sm"></i>{%endif%}</a> 
{{notice.verb }}
</div>
<p>
  <small class="text-muted" style="float: right;">{{ notice.timesince|upto:','  }} ago</small>
</p>
</div>
</article>
{%endif%}

{%endwith%}
{%empty%}
<article class="media content-section">
<div class="media body">
 No Notifications
</div>
</article>
{% endfor %}

{% endblock content %}